body{
  text-align: center;
  background-color: grey;
}
h1{
  padding: 4%;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 6rem;
}
h4{
  font-weight:800;
  font-size: 3rem;
  font-style: italic;
}
h1,h4{
  color:#5A5A5A;
}
